@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");
* {
  margin: 0 auto;
  padding: 0;
}
body {
  width: 100%;
  height: auto;
  padding: 3% 0 2% 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Bitter', serif;
  font-size: 62.5%;
  color: #151515;
  background-color: #f8f8f8;
}
.title {
  font-size: 7.2em;
  margin-bottom: 0.1em;
  text-align: center;
}
.date,
.author {
  margin-top: 0.25em;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
}
.article-body {
  width: 900px;
  margin-top: 4em;
}
.article-body .paragraph {
  margin-bottom: 0.25em;
  line-height: 150%;
  font-size: 1.65em;
  text-align: left;
  text-indent: 2.5em;
}
@media (max-width: 1600px) {
  body {
    font-size: 60%;
  }
  .title {
    font-size: 6.5em;
  }
}
@media (max-width: 1366px) {
  body {
    font-size: 57.5%;
  }
  .title {
    font-size: 5.5em;
  }
}
@media (max-width: 960px) {
  body {
    font-size: 55%;
  }
  .title {
    font-size: 5em;
  }
  .article-body {
    width: 90%;
  }
}
@media (max-width: 600px) {
  body {
    padding-top: 4vh;
    font-size: 52.5%;
  }
  .title {
    font-size: 4.25em;
  }
  .article-body {
    margin-top: 3.5em;
  }
}
